<link rel="stylesheet" href="/css/user_profile.css">
<h1>
    Codeial/User Profile
</h1>
<p><%=profile_user.name %></p>
<p><%=profile_user.email %></p>

<% if(profile_user.id == locals.user.id){%>
    <form method="post" action="/users/update/<%=user.id%>">
        <input id = "name" type="text" name= "name" placeholder="Your Name" value="<%=profile_user.name%>" required>
        <input id = "email" type = "email" name= "email" placeholder="Your Email" value="<%=profile_user.email%>" required>
        <input type="submit" value="update">

    </form>

<%}%>
